@model Ingredient

@{
    ViewData["Title"] = "Удаление ингредиента";
}

<h1>@ViewData["Title"]</h1>
<h3>Вы действительно хотите удалить этот ингредиент?</h3>
<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Provider)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Provider.Address)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id"/>
        <input type="submit" value="Удалить" class="btn btn-danger"/> |
        <a asp-action="Index">Вернуться к списку</a>
    </form>
</div>